*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

* {
  font-family: "Cocogoose"; }

a {
  color: unset;
  text-decoration: unset; }

#hero {
  height: 110vh;
  width: 100%;
  background-color: aliceblue;
  background-image: url("../images/herobanner_blue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#menu_hero {
  height: 50vh;
  width: 100%;
  background-color: aliceblue;
  background-image: url("../images/herobanner_blue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.aboutus {
  width: 100%;
  text-align: center; }
  .aboutus__right-button {
    width: 175px;
    min-height: 50px;
    background-color: #5EB1B9;
    margin: auto;
    color: white;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-top: 4rem;
    transition: all .3s ease-in-out; }
    .aboutus__right-button:hover {
      box-shadow: 5px 5px 7px #ccc; }
      .aboutus__right-button:hover .backanimation {
        transform: rotate(15deg) translate(-25%); }
      .aboutus__right-button:hover .more_button {
        font-size: 1.55rem; }
    .aboutus__right-button .more_button {
      margin: unset;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: .3rem;
      transition: all .15s ease-in-out; }

.softswerve_logo {
  width: 25rem; }

.backanimation {
  background-color: #247178;
  height: 400px;
  width: 400px;
  position: absolute;
  transform: rotate(25deg) translate(-125%);
  transition: all .75s; }

.descript_para {
  font-size: 1.75rem;
  line-height: 2.75rem;
  letter-spacing: .1rem;
  width: 75%;
  margin-left: 12.5%;
  font-family: "Noto Sans";
  color: #788E94; }

.ourflavors {
  width: 100%;
  text-align: center; }
  .ourflavors__list {
    margin-top: 2rem; }
  .ourflavors__topflavors {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 0;
    color: #247178;
    letter-spacing: .1rem; }

.gallery {
  width: 100%;
  text-align: center; }

.catering {
  width: 100%;
  text-align: center;
  background-image: url("../images/pattern.jpg");
  padding: 7rem 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .catering__header {
    cursor: pointer;
    padding: 20px;
    border: 7px solid #5EB1B9;
    display: inline-block;
    transition: all .3s ease-in-out;
    margin: unset !important; }
    .catering__header:hover {
      background-color: #5EB1B9;
      color: white; }

.footer {
  background-image: url("../images/footerbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 1.75rem;
  color: white; }
  .footer__address {
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 2rem; }
  .footer__days {
    width: 25%;
    display: inline-block;
    text-align: left; }
    .footer__days p {
      font-family: "Noto Sans";
      font-weight: bold;
      margin: 2rem 0; }
  .footer__times {
    width: 25%;
    display: inline-block;
    text-align: right; }
    .footer__times p {
      font-family: "Noto Sans";
      font-weight: bold;
      margin: 2rem 0; }

.social {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  list-style-type: none; }
  .social__s img {
    height: 35px;
    width: 35px;
    margin: .5rem; }

/*********MENU HTML PAGE***************/
.fullmenu {
  text-align: center; }
  .fullmenu__cat {
    width: 80%;
    margin-left: 10%;
    margin-top: 45px; }
    .fullmenu__cat-list {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 1.75rem; }
      .fullmenu__cat-list-topic {
        font-weight: bold;
        font-size: 1.75rem; }
      .fullmenu__cat-list li {
        color: #788E94;
        letter-spacing: .15rem;
        margin: 1.5rem 0;
        font-family: "Noto Sans"; }

.liner {
  height: 1px;
  width: 80%;
  background-color: gray;
  margin: 45px auto;
  display: block; }

.tempbox {
  width: 70%;
  margin-left: 15%;
  padding-top: 70%;
  background-color: aliceblue;
  background-image: url("../images/galleryexample.jpg");
  background-size: cover;
  background-position: center; }

.copyright {
  padding: 1rem 0 3rem 0; }

.your-class {
  width: 100%; }

.image {
  width: 33%;
  height: 150px; }
  .image0 {
    background-image: url("../images/galleryimages/gi_square/image0.jpg");
    background-size: cover;
    background-position: center; }
  .image1 {
    background-image: url("../images/galleryimages/gi_square/image1.jpg");
    background-size: cover;
    background-position: center; }
  .image2 {
    background-image: url("../images/galleryimages/gi_square/image2.jpg");
    background-size: cover;
    background-position: center; }
  .image3 {
    background-image: url("../images/galleryimages/gi_square/image3.jpg");
    background-size: cover;
    background-position: center; }
  .image4 {
    background-image: url("../images/galleryimages/gi_square/image4.jpg");
    background-size: cover;
    background-position: center; }
  .image5 {
    background-image: url("../images/galleryimages/gi_square/image5.jpg");
    background-size: cover;
    background-position: center; }
  .image6 {
    background-image: url("../images/galleryimages/gi_square/image6.jpg");
    background-size: cover;
    background-position: center; }
  .image7 {
    background-image: url("../images/galleryimages/gi_square/image7.jpg");
    background-size: cover;
    background-position: center; }
  .image8 {
    background-image: url("../images/galleryimages/gi_square/image8.jpg");
    background-size: cover;
    background-position: center; }

.section__header {
  text-transform: uppercase;
  color: #5EB1B9;
  letter-spacing: .25rem;
  font-size: 4rem;
  width: 80%;
  margin-left: 10%; }

@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose.ttf"); }

@keyframes moveInRight {}.asd {
  margin-top: -100px; }
