@import "abstract/mixin";
@import "abstract/base";
@import "abstract/variables";

* {
    font-family: "Cocogoose";
}

a {
    color: unset;
    text-decoration: unset;
}

#hero {
    height: 110vh;
    width: 100%;
    background-color: aliceblue;
    background-image: url("../images/herobanner_blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu_hero {
    height: 50vh;
    width: 100%;
    background-color: aliceblue;
    background-image: url("../images/herobanner_blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

//ABOUT US
.aboutus {
    width: 100%;
    text-align: center;
    &__left {

    }
    &__right {

        &-button {
            width: 175px;
            min-height: 50px;
            background-color: #5EB1B9;
            margin: auto;
            color: white;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            margin-top: 4rem;
            transition: all .3s ease-in-out;
            &:hover {
                box-shadow: 5px 5px 7px #ccc;
                .backanimation {
                    transform: rotate(15deg) translate(-25%);
                }
                .more_button {
                    font-size:1.55rem;
                }
            }
            & .more_button {
                margin: unset;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-transform: uppercase;
                font-size: 1.5rem;
                letter-spacing: .3rem;
                transition: all .15s ease-in-out;
            }
        }
    }
}

.softswerve_logo {
    width: 25rem;
}

.backanimation {
    background-color: #247178;
    height: 400px;
    width: 400px;
    position: absolute;
    transform: rotate(25deg) translate(-125%);
    transition: all .75s;
}

.descript_para {
    font-size: 1.75rem;
    line-height: 2.75rem;
    letter-spacing: .1rem;
    width: 75%;
    margin-left: 12.5%;
    font-family: "Noto Sans";
    color: #788E94;
}

//OUR FLAVORS
.ourflavors {
    width: 100%;
    text-align: center;

    &__list {
        margin-top: 2rem;
    }
    &__topflavors {
        text-transform: uppercase;
        font-size: 2rem;
        padding: 1rem 0;
        color: #247178;
        letter-spacing: .1rem;
    }
}

//GALLERY
.gallery {
    width: 100%;
    text-align: center;
}

//CATERING
.catering {
    width: 100%;
    text-align: center;
    background-image: url("../images/pattern.jpg");
    padding: 7rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    &__header {
        cursor: pointer;
        padding: 20px;
        border: 7px solid #5EB1B9;
        display: inline-block;
        transition: all .3s ease-in-out;
        margin: unset !important;
        &:hover {
            background-color: #5EB1B9;
            color: white;
        }
    }
}

//FOOTER {

.footer {
    background-image: url("../images/footerbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 1.75rem;
    color: white;
    &__address {
        font-family: "Noto Sans";
        font-weight: bold;
        font-size: 2.25rem;
        margin-bottom: 2rem;
    }
    &__days {
        width: 25%;
        display: inline-block;
        text-align: left;
        & p {
            font-family: "Noto Sans";
            font-weight: bold;
            margin: 2rem 0;
        }
    }

    &__times {
        width: 25%;
        display: inline-block;
        text-align: right;
        & p {
            font-family: "Noto Sans";
            font-weight: bold;
            margin: 2rem 0;
        }
    }
}

.social {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    &__s {
        & img {
            height: 35px;
            width: 35px;
            margin: .5rem;
        }
    }
}




/*********MENU HTML PAGE***************/
.fullmenu {
    text-align: center;
    &__cat {
        width: 80%;
        margin-left: 10%;
        margin-top: 45px;
        &-header {

        }
        &-list {
            list-style-type: none;
            text-transform: uppercase;
            font-size: 1.75rem;
            &-topic {
                font-weight: bold;
                font-size: 1.75rem;
            }
            & li {
                color: #788E94;
                letter-spacing: .15rem;
                margin: 1.5rem 0;
                font-family: "Noto Sans";
            }
        }
    }
}





//MISC
.liner {
    height: 1px;
    width: 80%;
    background-color: gray;
    margin: 45px auto;
    display: block;
}

.tempbox {
    width: 70%;
    margin-left: 15%;
    padding-top: 70%;
    background-color: aliceblue;
    background-image: url("../images/galleryexample.jpg");
    background-size: cover;
    background-position: center;
}

.copyright {
    padding: 1rem 0 3rem 0;
}

.your-class {
    width: 100%;
}

.image {
    width: 33%;
    height: 150px;
    &0 {
        background-image: url("../images/galleryimages/gi_square/image0.jpg");
        background-size: cover;
        background-position: center;
    }
    &1 {
        background-image: url("../images/galleryimages/gi_square/image1.jpg");
        background-size: cover;
        background-position: center;
    }
    &2 {
        background-image: url("../images/galleryimages/gi_square/image2.jpg");
        background-size: cover;
        background-position: center;
    }
    &3 {
        background-image: url("../images/galleryimages/gi_square/image3.jpg");
        background-size: cover;
        background-position: center;
    }
    &4 {
        background-image: url("../images/galleryimages/gi_square/image4.jpg");
        background-size: cover;
        background-position: center;
    }
    &5 {
        background-image: url("../images/galleryimages/gi_square/image5.jpg");
        background-size: cover;
        background-position: center;
    }
    &6 {
        background-image: url("../images/galleryimages/gi_square/image6.jpg");
        background-size: cover;
        background-position: center;
    }
    &7 {
        background-image: url("../images/galleryimages/gi_square/image7.jpg");
        background-size: cover;
        background-position: center;
    }
    &8 {
        background-image: url("../images/galleryimages/gi_square/image8.jpg");
        background-size: cover;
        background-position: center;
    }
}

.section__header {
    text-transform: uppercase;
    color: #5EB1B9;
    letter-spacing: .25rem;
    font-size: 4rem;
    width: 80%;
    margin-left: 10%;
}

@font-face {
    font-family: "Cocogoose";
    src: url("../fonts/Cocogoose.ttf");
}

@keyframes moveInRight {

}

.asd {
    margin-top:-100px;
}